<div class="form-container">
  <h3>Comments Form:</h3>
  <%= form_with model: @comment, url: user_post_comments_path,  method: :post, local: true, class: "form-container"  do |f| %>
    <%= f.label :text %>
    <%= f.text_area :text %>
    <%= f.submit "Add new Comment" %>
  <% end %> 
</div>