<%= render @user %>
<div class= "bio">
  <h3>Bio</h3>
  <p><%= @user.bio %></p>
</div>
<div class= "posts-container">
  <%= render @user.recent_posts %>
    
</div>

<%= link_to user_posts_path(@user.id) do %>
      <button type="button">See All</button>
<%end%>
