<div class="form-container">
  <h3>Posts Form:</h3>
  <%= form_with model: @post, url: user_posts_path(:user_id), method: :post, local: true, class: "form-container" do |f| %>
    <%= f.text_field :title, placeholder: 'Title', required: true %>
    <%= f.text_area :text, placeholder: 'Text', required: true %>
    <%= f.submit "Add new Post" %>
  <% end %>
</div>